## Read Data

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199

data = pd.read_csv('Data/oregon2020-zerofilled.csv', encoding="cp1252")
print(len(data))
print(data.columns)
display(data.head(5))

/tmp/ipykernel_18510/1781496420.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Data/oregon2020-zerofilled.csv', encoding="cp1252")

2751772
Index(['Unique_Checklist_ID', 'Common_Name', 'Occur', 'Direction', 'Distance',
       'Latitude', 'Longitude', 'Year'],
      dtype='object')

,Unique_Checklist_ID,Common_Name,Occur,Direction,Distance,Latitude,Longitude,Year
0,42.00128_-118.83407_2017-06-10_WDRobinson,Marsh Wren,0,NaN,NaN,42.00128,-118.83407,2017
1,42.00175_-118.84133_2017-06-10_WDRobinson,Marsh Wren,0,NaN,NaN,42.00175,-118.84133,2017
2,42.0022_-118.85239_2017-06-10_WDRobinson,Marsh Wren,0,NaN,NaN,42.00220,-118.85239,2017
3,42.00246_-118.6301_2017-06-08_WDRobinson,Marsh Wren,0,NaN,NaN,42.00246,-118.63010,2017
4,42.00321_-118.85844_2017-06-10_WDRobinson,Marsh Wren,0,NaN,NaN,42.00321,-118.85844,2017

In [2]:
data['Common_Name'].value_counts()

Common_Name
Western Flycatcher                   33034
Yellow-rumped Warbler (Audubon's)    21834
European Starling                    14972
Western Meadowlark                   13284
Red-winged Blackbird                 12883
Cliff Swallow                        12848
American Robin                       12746
Brewerâ€™s Blackbird                 12453
Swainsonâ€™s Thrush                  12419
Hermit Warbler                       12369
Canada Goose                         12296
Song Sparrow                         12250
Cedar Waxwing                        12186
Spotted Towhee                       11854
Violet-green Swallow                 11841
Horned Lark                          11712
American Goldfinch                   11703
Evening Grosbeak                     11649
Common Raven                         11619
Wilsonâ€™s Warbler                   11614
White-crowned Sparrow                11602
Band-tailed Pigeon                   11594
Red Crossbill                        11584
House Sparrow                        11571
Warbling Vireo                       11510
Pacific Wren                         11480
Savannah Sparrow                     11462
Brewerâ€™s Sparrow                   11462
Western Tanager                      11456
Black-headed Grosbeak                11452
American Crow                        11430
Dark-eyed Junco                      11422
Common Yellowthroat                  11414
Barn Swallow                         11372
Western Wood-Pewee                   11340
Lazuli Bunting                       11334
Chipping Sparrow                     11225
Orange-crowned Warbler               11216
Mourning Dove                        11186
Eurasian Collared-Dove               11185
Brown-headed Cowbird                 11181
Tree Swallow                         11165
House Wren                           11163
Rock Pigeon                          11154
Vesper Sparrow                       11148
Mallard                              11145
Stellerâ€™s Jay                      11138
Black-capped Chickadee               11112
Chestnut-backed Chickadee            11084
House Finch                          11083
Black-throated Gray Warbler          11064
Turkey Vulture                       11058
California Scrub-Jay                 11043
Black-billed Magpie                  11029
Hermit Thrush                        11006
Red-breasted Nuthatch                11005
MacGillivrayâ€™s Warbler             11004
Sage Thrasher                        10997
Mountain Chickadee                   10986
Willow Flycatcher                    10985
Cackling Goose                       10982
Yellow Warbler                       10980
Pine Siskin                          10962
Sagebrush Sparrow                    10957
Gray Flycatcher                      10957
Purple Finch                         10955
Dusky Flycatcher                     10945
Yellow-headed Blackbird              10944
California Quail                     10944
Bewickâ€™s Wren                      10940
Killdeer                             10935
Marsh Wren                           10927
Cassinâ€™s Finch                     10926
Green-tailed Towhee                  10919
Hammond's Flycatcher                 10915
Ring-necked Pheasant                 10913
Lesser Goldfinch                     10912
Golden-crowned Kinglet               10911
Western Kingbird                     10906
Wild Turkey                          10906
Northern Flicker                     10904
Mountain Bluebird                    10899
Bushtit                              10896
Yellow-breasted Chat                 10893
Lark Sparrow                         10890
American White Pelican               10889
Red-tailed Hawk                      10889
White-faced Ibis                     10884
Bank Swallow                         10882
Wilsonâ€™s Snipe                     10880
Wood Duck                            10877
Western Gull                         10875
Rock Wren                            10874
Cassin's Vireo                       10872
Bullock's Oriole                     10871
Willet                               10870
Nashville Warbler                    10868
Vauxâ€™s Swift                       10868
Long-billed Curlew                   10868
Varied Thrush                        10868
Brown Creeper                        10866
Acorn Woodpecker                     10861
Tricolored Blackbird                 10860
Gadwall                              10858
Townsendâ€™s Warbler                 10858
Fox Sparrow                          10856
Rufous Hummingbird                   10850
Wrentit                              10849
Ring-billed Gull                     10845
Pygmy Nuthatch                       10840
Northern Rough-winged Swallow        10840
American Avocet                      10835
Ash-throated Flycatcher              10833
California Gull                      10830
Franklinâ€™s Gull                    10829
Pinyon Jay                           10829
White-breasted Nuthatch              10828
Common Nighthawk                     10827
Purple Martin                        10825
Chukar                               10824
Western Bluebird                     10824
Red-breasted Sapsucker               10824
American Coot                        10820
Canada Jay                           10820
Pileated Woodpecker                  10820
Sandhill Crane                       10819
Huttonâ€™s Vireo                     10819
Osprey                               10818
Cinnamon Teal                        10818
Grasshopper Sparrow                  10815
Hairy Woodpecker                     10815
Common Merganser                     10815
Pied-billed Grebe                    10814
Olive-sided Flycatcher               10814
Ruby-crowned Kinglet                 10813
Bald Eagle                           10812
American Kestrel                     10812
Double-crested Cormorant             10810
Sora                                 10806
Swainsonâ€™s Hawk                    10806
Least Sandpiper                      10806
Spotted Sandpiper                    10806
Mountain Quail                       10805
Say's Phoebe                         10805
Great Blue Heron                     10805
Northern Pintail                     10804
Northern Harrier                     10804
Clarkâ€™s Nutcracker                 10803
Downy Woodpecker                     10803
Black-throated Sparrow               10802
Sooty Grouse                         10801
Great Egret                          10801
Northern Shoveler                    10800
Great Horned Owl                     10800
Virginia Rail                        10800
Ruffed Grouse                        10799
Wilsonâ€™s Phalarope                 10798
Townsendâ€™s Solitaire               10798
Ring-necked Duck                     10798
Pigeon Guillemot                     10797
Annaâ€™s Hummingbird                 10797
Rufous/Allen's Hummingbird           10796
Lincolnâ€™s Sparrow                  10795
Dusky Grouse                         10795
Ferruginous Hawk                     10795
Williamsonâ€™s Sapsucker             10795
Pelagic Cormorant                    10794
Black Tern                           10794
Redhead                              10794
Western Grebe                        10794
Eastern Kingbird                     10794
Red-shouldered Hawk                  10793
Belted Kingfisher                    10793
Bobolink                             10793
American Wigeon                      10793
Western Sandpiper                    10793
Marbled Murrelet                     10793
American Bittern                     10793
California Towhee                    10793
American Dipper                      10793
Red-naped Sapsucker                  10792
Eared Grebe                          10792
Blue-gray Gnatcatcher                10792
Common Loon                          10792
Black-necked Stilt                   10792
Loggerhead Shrike                    10792
Ruddy Duck                           10792
Barred Owl                           10792
Green Heron                          10791
Black Phoebe                         10791
Burrowing Owl                        10791
Lewisâ€™s Woodpecker                 10791
Hooded Merganser                     10791
Sharp-shinned Hawk                   10791
Green-winged Teal                    10791
Black-backed Woodpecker              10791
Golden Eagle                         10791
Gray Partridge                       10791
Oak Titmouse                         10790
White-headed Woodpecker              10790
Greater White-fronted Goose          10790
White-tailed Kite                    10790
Black-crowned Night-Heron            10790
Veery                                10790
Yellow-rumped Warbler (Myrtle)       10790
Canyon Wren                          10790
Caspian Tern                         10790
Common Murre                         10790
Peregrine Falcon                     10790
Northern Pygmy-Owl                   10790
Bufflehead                           10790
Lesser Scaup                         10789
Forsterâ€™s Tern                     10789
Greater Yellowlegs                   10789
White-throated Swift                 10789
Red-eyed Vireo                       10789
Eastern Phoebe                       10789
Western Screech-Owl                  10789
Canvasback                           10789
Juniper Titmouse                     10789
Northern Waterthrush                 10789
Northern Goshawk                     10789
American Redstart                    10789
Spotted Owl                          10789
Red-necked Phalarope                 10789
Calliope Hummingbird                 10789
Prairie Falcon                       10789
Common Poorwill                      10789
Golden-crowned Sparrow               10789
Gray Catbird                         10789
American Three-toed Woodpecker       10789
Black-chinned Hummingbird            10789
Ovenbird                             10789
Harlequin Duck                       10789
Short-billed Dowitcher               10789
Black-bellied Plover                 10789
Barn Owl                             10789
Blue-winged Teal                     10789
American Pipit                       10789
Solitary Sandpiper                   10789
Rough-legged Hawk                    10789
Cooperâ€™s Hawk                      10789
Greater Sage-Grouse                  10789
Common Peafowl                       10789
Short-eared Owl                      10789
Long-eared Owl                       10789
Brown Thrasher                       10789
White-throated Sparrow                   1
Name: count, dtype: int64

In [3]:
print(data['Direction'].unique())
print(data['Direction'].value_counts(dropna=False))

[nan 'n' 'nne' 'e' 'ne' 'wnw' 'ese' 'ssw' 's' 'w' 'nw' 'ene' 'sw' 'se'
 'wsw' 'c' 'n ' '5' 'nnw' 'nbw' 's ' 'e ' 'sse' 'sc' 'sv' 'v' 'W' '0' '1'
 'E' 'S' 'various' 'overhead' 'all around' 'aw' 'wwsw' 'en' 'me' '2' 'scv'
 'SE' 'ENE' 'SW' 'NNE' 'ESE' 'SSE' 'NW' 'WSW' 'N' 'SSW' 'NNW' 'NE' 'WNW'
 ' E' 'WW' 'NW ' 'EEN' 'WSE' 'NWN' 'NEN' 'sww' 'CE' 'nr' 'mw' 'mmw' 'm'
 'fv' ' ne ' '3' 'ES' ' N' 'NN' 'EN' 'SS' 'cf' 'ew' 'sn' 'ne ' 'w ' 'nw '
 'w2' '`s' 'new' 'nf' '`n' 'nww' '`e' 'ese ' '83' 'ws' 'ssn' ' ne' 'sf'
 'nsw' 'nwn' 'see']
Direction
NaN           2604522
s               21916
n               21565
w               21374
e               19157
sw              10351
nw              10132
ne               9414
se               9240
ese              1864
ene              1718
wnw              1676
ssw              1633
wsw              1542
sse              1533
nnw              1503
nne              1461
N                1055
NW                924
NE                813
W                 801
S                 783
SW                752
SE                672
E                 660
WNW               650
WSW               595
NNW               593
SSW               586
ESE               584
NNE               545
ENE               464
SSE               450
0                  75
c                  27
sv                 14
sc                 11
3                  11
WW                  6
new                 6
5                   6
m                   5
NWN                 4
n                   4
e                   4
fv                  3
ese                 3
scv                 3
me                  3
aw                  3
all around          2
2                   2
ne                  2
nw                  2
s                   2
en                  2
mw                  2
NEN                 2
nww                 2
various             2
ew                  1
`e                  1
sf                  1
`n                  1
83                  1
nf                  1
 ne                 1
ws                  1
ssn                 1
nwn                 1
`s                  1
w2                  1
nsw                 1
w                   1
sn                  1
WSE                 1
cf                  1
SS                  1
v                   1
1                   1
overhead            1
wwsw                1
 E                  1
NW                  1
EEN                 1
nbw                 1
sww                 1
CE                  1
nr                  1
mmw                 1
 ne                 1
ES                  1
 N                  1
NN                  1
EN                  1
see                 1
Name: count, dtype: int64

## Read Correct direction file

In [4]:
corrections = pd.read_excel('Data/Direction_correct.xlsx')
corrections = corrections.drop(columns=['notes'])

data['Direction'] = data['Direction'].astype(str)
corrections['Direction'] = corrections['Direction'].astype(str)

print(corrections['Direction'].unique())
print(data['Direction'].unique())

display(corrections)

['c' '5' 'nbw' 'sc' 'sv' 'v' 'nan' '0' '1' 'various' 'overhead'
 'all around' 'aw' 'wwsw' 'en' 'me' '2' 'scv' 'WW' 'EEN' 'WSE' 'NEN' 'sww'
 'CE' 'nr' 'mw' 'mmw' 'm' 'fv' '3' 'ES' 'NN' 'EN' 'cf' 'ew' 'sn' 'w2' '`s'
 'nf' 'nww' '`e' '83' 'ws' 'ssn' 'sf' 'nsw' 'see']
['nan' 'n' 'nne' 'e' 'ne' 'wnw' 'ese' 'ssw' 's' 'w' 'nw' 'ene' 'sw' 'se'
 'wsw' 'c' 'n ' '5' 'nnw' 'nbw' 's ' 'e ' 'sse' 'sc' 'sv' 'v' 'W' '0' '1'
 'E' 'S' 'various' 'overhead' 'all around' 'aw' 'wwsw' 'en' 'me' '2' 'scv'
 'SE' 'ENE' 'SW' 'NNE' 'ESE' 'SSE' 'NW' 'WSW' 'N' 'SSW' 'NNW' 'NE' 'WNW'
 ' E' 'WW' 'NW ' 'EEN' 'WSE' 'NWN' 'NEN' 'sww' 'CE' 'nr' 'mw' 'mmw' 'm'
 'fv' ' ne ' '3' 'ES' ' N' 'NN' 'EN' 'SS' 'cf' 'ew' 'sn' 'ne ' 'w ' 'nw '
 'w2' '`s' 'new' 'nf' '`n' 'nww' '`e' 'ese ' '83' 'ws' 'ssn' ' ne' 'sf'
 'nsw' 'nwn' 'see']

     Direction correct_direction
0            c                 E
1            5                 S
2          nbw               NNW
3           sc         see_notes
4           sv         see_notes
5            v         see_notes
6          nan               NaN
7            0         see_notes
8            1         see_notes
9      various         see_notes
10    overhead         see_notes
11  all around         see_notes
12          aw                SW
13        wwsw               WSW
14          en                NE
15          me                NE
16           2                 W
17         scv         see_notes
18          WW               NaN
19         EEN               ENE
20         WSE               WSW
21         NEN               ENE
22         sww               NaN
23          CE               NaN
24          nr                NE
25          mw                NW
26         mmw               NNW
27           m                 N
28          fv         see_notes
29           3         see_notes
30          ES                SE
31          NN                 N
32          EN                NE
33          cf         see_notes
34          ew               NaN
35          sn               NaN
36          w2                 W
37          `s                 S
38          nf                NE
39         nww               WNW
40          `e                 E
41          83         see_notes
42          ws                SW
43         ssn               SSW
44          sf                SE
45         nsw                NW
46         see                SE

## Merge both datasets to update the correct direction

In [5]:
result_df = pd.merge(data, corrections, on='Direction', how='left')
data['correct_direction'] = result_df['correct_direction'].combine_first(data['Direction'])
data.insert(3, 'correct_direction', data.pop('correct_direction'))
data['correct_direction'] = data['correct_direction'].str.upper()
data['correct_direction'] = data['correct_direction'].str.replace(' ', '')

In [6]:
print(data['correct_direction'].unique())
print(data['correct_direction'].value_counts())

['NAN' 'N' 'NNE' 'E' 'NE' 'WNW' 'ESE' 'SSW' 'S' 'W' 'NW' 'ENE' 'SW' 'SE'
 'WSW' 'NNW' 'SSE' 'SEE_NOTES' 'WW' 'NWN' 'SWW' 'CE' 'SS' 'EW' 'SN' 'NEW'
 '`N']
correct_direction
NAN          2604522
S              22708
N              22631
W              22179
E              19850
SW             11107
NW             11062
NE             10239
SE              9915
ESE             2451
WNW             2328
SSW             2220
ENE             2185
WSW             2139
NNW             2098
NNE             2006
SSE             1983
SEE_NOTES        126
NEW                6
WW                 6
NWN                5
SWW                1
CE                 1
SS                 1
EW                 1
SN                 1
`N                 1
Name: count, dtype: int64

In [7]:
# Define the values to drop
values_to_drop = ['SEE_NOTES', 'NEW', 'WW', 'NWN', 'SWW', 'CE', 'SS', 'EW', 'SN', '`N']  # Add any other values you want to drop

# Drop rows where correct_direction is in values_to_drop
data = data[~data['correct_direction'].isin(values_to_drop)]
print(len(data))

2751623

In [8]:
print(2751772 - (126+12+5+6))

2751623

In [9]:
# Save Oregon2020 data with correct directions
data.to_csv('Data/oregon2020-zerofilled_correctdir.csv', encoding="cp1252")